<?xml version="1.0" ?>
<config>
    <modules>
        <LCB_OmnibusDirective>
            <version>1.0.0</version>
        </LCB_OmnibusDirective>
    </modules>
    <global>
        <blocks>
            <lcb_omnibusdirective>
                <class>LCB_OmnibusDirective_Block</class>
            </lcb_omnibusdirective>
        </blocks>
        <models>
            <lcb_omnibusdirective>
                <class>LCB_OmnibusDirective_Model</class>
                <resourceModel>lcb_omnibusdirective_resource</resourceModel>
            </lcb_omnibusdirective>
            <lcb_omnibusdirective_resource>
                <class>LCB_OmnibusDirective_Model_Resource</class>
                <entities>
                    <price>
                        <table>lcb_omnibusdirective_price</table>
                    </price>
                </entities>
            </lcb_omnibusdirective_resource>
        </models>
        <resources>
            <lcb_omnibusdirective_setup>
                <setup>
                    <module>LCB_OmnibusDirective</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </lcb_omnibusdirective_setup>
        </resources>
        <events>
            <catalog_product_save_after>
                <observers>
                    <lcb_omnibusdirective_save_price>
                        <class>lcb_omnibusdirective/observer</class>
                        <method>savePrice</method>
                    </lcb_omnibusdirective_save_price>
                </observers>
            </catalog_product_save_after>
        </events>
    </global>
    <frontend>
        <translate>
            <modules>
                <lcb_omnibusdirective>
                    <files>
                        <default>LCB_OmnibusDirective.csv</default>
                    </files>
                </lcb_omnibusdirective>
            </modules>
        </translate>        
        <layout>
            <updates>
                <lcb_omnibusdirective>
                    <file>lcb_omnibusdirective.xml</file>
                </lcb_omnibusdirective>
            </updates>
        </layout>
    </frontend>
</config>
